.hidden {
  display: none;
}

.container {
  width: 428px;
  margin: 0 auto;
}

.box-color {
  background-color: black;
  color: white;
  text-align: center;
}

.box-color2 {
  background-color: #2b2b2b;
  text-align: center;
}

#main-header {
  height: 80px;
}

#header-logo {
  height: 46px;
  align-self: center;
}

#header-logo-img {
  align-self: center;
  margin-top: 10px;
}

#burger-btn {
  width: 40px;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 20px;
  transition: all 0.5s ease;
  border: 0;
  display: block;
  background-color: #2b2b2b;
  margin-left: 50px;
  margin-top: 19px;
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.burger-line {
  background-color: #fff;
  height: 5px;
  width: 40px;
  display: block;
  margin: 7px auto;
  transition: all 0.5s;
}

#header-nav {
  height: 36px;
  align-self: center;
}

#hero {
  height: 850px;
  width: 428px;
}

#product1 {
  height: 380px;
  margin-top: 30px;
}

#product2 {
  height: 380px;
  margin-top: 30px;
}

#product3 {
  height: 380px;
  margin-top: 30px;
}

#slider {
  height: 850px;
  width: 428px;
  margin-top: 30px;
}

#xrayimage {
  height: 380px;
  margin-top: 30px;
}

#xraytext {
  height: 380px;
}

#explode-view {
  max-width: 100%;
}

#main-footer {
  height: 270px;
}

#footer-logo {
  height: 46px;
  margin-top: 20px;
}

#footer-nav {
  height: 140px;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
  #main-header {
    height: 90px;
  }
  #header-logo {
    height: 63px;
    align-self: center;
  }
  #header-logo-img {
    align-self: center;
    margin-top: 15px;
  }
  #burger-btn {
    display: none;
  }
  .hamburger {
    display: none;
  }
  .burger-line {
    display: none;
  }
  #hero {
    height: 500px;
    width: 768px;
  }
  #product1 {
    height: 220px;
    margin-top: 30px;
  }
  #product2 {
    height: 220px;
    margin-top: 30px;
  }
  #product3 {
    height: 220px;
    margin-top: 30px;
  }
  #slider {
    height: 500px;
    margin-top: 30px;
  }
  #xrayimage {
    height: 290px;
    margin-top: 30px;
  }
  #xraytext {
    height: 290px;
    margin-top: 30px;
  }
  #video {
    height: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #main-footer {
    height: 270px;
  }
  #footer-logo {
    height: 46px;
    margin-top: 20px;
  }
  #footer-nav {
    height: 140px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  #main-header {
    height: 90px;
  }
  #header-logo {
    height: 63px;
    align-self: center;
  }
  #header-logo-img {
    align-self: center;
    margin-top: 15px;
  }
  #burger-btn {
    display: none;
  }
  .hamburger {
    display: none;
  }
  .burger-line {
    display: none;
  }
  #hero {
    height: 900px;
    width: 1200px;
  }
  #product1 {
    height: 380px;
    margin-top: 30px;
  }
  #product2 {
    height: 380px;
    margin-top: 30px;
  }
  #product3 {
    height: 380px;
    margin-top: 30px;
  }
  #slider {
    height: 900px;
    margin-top: 30px;
  }
  #xrayimage {
    height: 390px;
    margin-top: 30px;
  }
  #xraytext {
    height: 390px;
    margin-top: 30px;
  }
  #video {
    height: 900px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #main-footer {
    height: 270px;
  }
  #footer-logo {
    height: 46px;
    margin-top: 20px;
  }
  #footer-nav {
    height: 140px;
    margin-bottom: 32px;
  }
}/*# sourceMappingURL=main.css.map */