.hidden {
    display: none;
}

.container {
    width: 428px;
    margin: 0 auto;
}

.box-color {
    background-color: black;
    color: white;
    text-align: center;
}

.box-color2 {
    background-color: #717171;
    text-align: center;
}

#main-header {
    height: 80px;
}

#header-logo {
    height: 46px;
    align-self: center;
}

#header-nav {
    height: 36px;
    align-self: center;
}

#hero {
    height: 850px;
    width: 428px;
}

#product1 {
    height: 380px;
    margin-top: 30px;
}

#product2 {
    height: 380px;
    margin-top: 30px;
}

#product3 {
    height: 380px;
    margin-top: 30px;
}

#slider {
    height: 850px;
    width: 428px;
    margin-top: 30px;
}

#xrayimage {
    height: 380px;
    margin-top: 30px;
}

#xraytext {
    height: 380px;
}

#video {
    height: 850px;
    width: 428px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#main-footer {
    height: 270px;
}

#footer-logo {
    height: 46px;
    margin-top: 20px;
}

#footer-nav {
    height: 140px;
    margin-bottom: 32px;
}

@media screen and (min-width: 768px) {

    .container {
        width: 768px;
        margin: 0 auto;
    }

    #main-header {
        height: 90px;
    }

    #header-logo {
        height: 63px;
        align-self: center;
    }
    
    #hero {
        height: 500px;
    }


    
    #product1 {
        height: 220px;
        margin-top: 30px;
    }
    
    #product2 {
        height: 220px;
        margin-top: 30px;
    }
    
    #product3 {
        height: 220px;
        margin-top: 30px;
    }

    #slider {
        height: 500px;
        margin-top: 30px;
    }

    #xrayimage {
        height: 290px;
        margin-top: 30px;
    }
    
    #xraytext {
        height: 290px;
        margin-top: 30px;
    }

    #video {
        height: 500px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    #main-footer {
        height: 270px;
    }
    
    #footer-logo {
        height: 46px;
        margin-top: 20px;
    }
    
    #footer-nav {
        height: 140px;
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 1200px) {

    .container {
        width: 1200px;
        margin: 0 auto;
    }

    #main-header {
        height: 90px;
    }

    #header-logo {
        height: 63px;
        align-self: center;
    }
    
    #hero {
        height: 900px;
    }
    
    #product1 {
        height: 380px;
        margin-top: 30px;
    }
    
    #product2 {
        height: 380px;
        margin-top: 30px;
    }
    
    #product3 {
        height: 380px;
        margin-top: 30px;
    }

    #slider {
        height: 900px;
        margin-top: 30px;
    }

    #xrayimage {
        height: 390px;
        margin-top: 30px;
    }
    
    #xraytext {
        height: 390px;
        margin-top: 30px;
    }

    #video {
        height: 900px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    #main-footer {
        height: 270px;
    }
    
    #footer-logo {
        height: 46px;
        margin-top: 20px;
    }
    
    #footer-nav {
        height: 140px;
        margin-bottom: 32px;
    }

}